.DS_Store
node_modules
/dist
low_wages.json
uniqueSubways.json
uniqueSubways0.json
CMPs by Industry FY18.csv
cmp.json
cmp23.json
cmpNames.json
DO_COUNTIES_GEO.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
